<h1>Log In Here</h1>

<%= flash[:error] %>

<%= form_for @user, url: '/login' do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Log In" %>

    <br>

    <h2> Or Log in with Google </h2>

    <%= button_to('Log in via Google', '/auth/google_oauth2/') %>

<% end %>