<h1><%= @book.title %></h1>

<h2> Average Rating: <%= @book.reviews.average("rating")%></h2>
<br>
<h2> Length: <%= @book.length%> pages </h2>
<br>
<h2> Year released: <%= @book.year%> </h2>

<%= link_to "See All Reviews of #{@book.title}", reviews_path(:book_id => @book.id) %> /
<%= link_to "Add Your Review", new_book_review_path(@book) %>